h1, h2, h3, span {
    font-family: Roboto, 'Bebas Neue', 'Open Sans';
}

p, li {
    font-family: 'Open Sans';
}

h1 {
    font-size: 500%;
    font-weight: bolder;
    color: white;
    top: 50%;
    text-align: center;
    text-shadow: 2px 2px 7px black;
}

h2 {
    font-size: 300%;
    font-weight: bold;
    color: white;
}

h3 {
    font-size: 150%;
}

p {
  color: white;
}